/* navbar */
.logo-img{
  width:10vw;
}
.nav-links{
  font-size: 4rem;
}

.hero-section {
  background: linear-gradient(rgba(7, 7, 7, 0.5), rgba(0, 0, 0, 0.1)),
  url("./images/hero-background.jpg");
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  background-position: 60%;

}

/* About me section */
.about-logo{
  width: 4rem;

}